.wrapper {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.input {
  width: 630px;
  height: 40px;
  padding-left: 35px;
  padding-right: 15px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid red;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}

.label {
  font-weight: 400;
  color: #babdc2;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 35px;
  letter-spacing: 0.01em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    top: -200%;
    left: 0;
    margin-left: 16px;
    transform: translateY(0);
    font-size: 12px;
    line-height: 1.17;
  }
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -20px;
  left: 0;
  margin-left: 16px;
  transform: translateY(0);
  font-size: 12px;
  line-height: 1.17;
  color: red;
}

.logo {
  fill: #babdc2;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus ~ .logo {
  fill: red;
}
