.first {
  background-image: url('./1st.svg');
  background-repeat: no-repeat;
}

.second {
  background-image: url('./2nd.svg');
  background-repeat: no-repeat;
}

.third {
  background-image: url('./3rd.svg');
  background-repeat: no-repeat;
}
